<h1>Listing player_profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @player_profiles.each do |player_profile| %>
      <tr>
        <td><%= link_to 'Show', player_profile %></td>
        <td><%= link_to 'Edit', edit_player_profile_path(player_profile) %></td>
        <td><%= link_to 'Destroy', player_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player profile', new_player_profile_path %>
